.advantages__list {
  // display: flex;
  margin: 0;
  padding: 0;
  background-color: $header-bg-color;

  & .advantages__item:last-child {
    margin-right: 0;
  }

  @media screen and (max-width: 480px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
}

.advantages__item {
  align-items: center;
  margin-bottom: 30px;
  @media screen and (min-width: 480px) {
    width: 450px;
    margin-right: auto;
    margin-left: auto;
  }

  & h3 {
    margin-top: 0;
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-text-color;

    @media screen and (max-width: 480px) {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  & p {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 0.03em;
    color: $primary-text-color;

    @media screen and (max-width: 480px) {
      line-height: 1.71;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

.antenna {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 30px;
  // width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;

  @media screen and (max-width: 480px) {
    width: 450px;
    margin-right: 0;
  }
}

.icon-antenna {
  width: 70px;
  height: 70px;
}

.clock {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 30px;
  // width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;

  @media screen and (max-width: 480px) {
    width: 450px;
    margin-right: 0;
  }
}

.icon-clock {
  width: 70px;
  height: 70px;
}

.diagram {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  margin-right: 30px;
  // width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;

  @media screen and (max-width: 480px) {
    width: 450px;
    margin-right: 0;
  }
}

.icon-diagram {
  width: 70px;
  height: 70px;
}

.astronaut {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  // width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;

  @media screen and (max-width: 480px) {
    width: 450px;
    margin-right: 0;
  }
}

.icon-astronaut {
  width: 70px;
  height: 70px;
}
