.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.footer-grouping {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 61px;
  padding-right: 74px;

  @media screen and (max-width: 767px) {
    display: block;
    padding: 0;
  }

  @media screen and (min-width: 1200px) {
    padding: 0;
    flex-direction: row;
    justify-content: center;
  }
}

.bottom {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    text-align: center;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
  }
}

.logo-bottom-span {
  color: $accent-color;
}

.logo-bottom {
  display: flex;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  @media screen and (max-width: 767px) {
    justify-content: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    justify-content: center;
  }
}

.bottom > .logo-bottom {
  color: #ffffff;
}

.address p {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 9px;
  width: 231px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: #ffffff;

  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 8px;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 767px) {
  .address {
    margin-bottom: 60px;
  }
}

.address a {
  display: block;
  margin-top: 0;
  padding-bottom: 9px;
  font-size: 14px;
  font-style: normal;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  @include transition-animation();

  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    padding-bottom: 8px;
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.links-footer {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  align-items: center;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 0;
    margin-right: 93px;
  }

  & h3 {
    display: flex;
    margin-top: 12px;
    margin-bottom: 20px;
    align-self: start;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.14;
    text-align: left;
    letter-spacing: 0.03em;
    color: #ffffff;

    @media screen and (max-width: 767px) {
      margin-right: auto;
      margin-left: auto;
      margin-top: 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-top: 0;
      align-self: center;
    }

    @media screen and (min-width: 1200px) {
      margin-top: 0;
    }
  }
}

.websites-footer {
  display: flex;
  margin: 0;
  padding-left: 0;
  gap: 10px;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
  }
}

.websites-links-footer {
  @include centered-flex();
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
  cursor: pointer;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: #ffffff;
  }
}

.form-subscribe {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-left: 93px;
  width: 100%;

  @media screen and (max-width: 767px) {
    margin-left: 0;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 60px;
    margin-left: 0;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 0;
    width: 358px;
    margin-right: 12px;
  }
}

.label-subscribe {
  margin-top: 12px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $header-bg-color;
  cursor: pointer;

  @media screen and (max-width: 767px) {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 0;
    text-align: center;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    width: 358px;
  }
}

.input-subscribe {
  padding: 15px 16px;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
  cursor: pointer;
  outline: none;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border: 1px solid $accent-color;
  }

  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    max-width: 450px;
    height: 50px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 450px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 12px;
    width: 358px;
    height: 50px;
  }
}
.subscribe-btn__div {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.btn-subscribe {
  @include centered-flex();
  margin-top: 48px;
  margin-left: 12px;
  padding-top: 10px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 0;
  width: 200px;
  height: 50px;
  background-color: $accent-color;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  cursor: pointer;
  border: none;

  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (max-width: 767px) {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0;
  }

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    margin: 0;
    margin-top: 36px;
    margin-right: 0;
    padding: 0;
  }
}

.plane-icon {
  @include centered-flex();
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: #fff;
  cursor: pointer;
}
