.page-header {
  // display: flex;
  border-bottom: 1px solid #ececec;

  @media screen and (max-width: 767px) {
    position: relative;
    height: 61px;
  }
}

@media screen and (max-width: 767px) {
  .header-container {
    display: flex;
    justify-content: space-between;
    margin: 0;
  }
}

@media screen and (max-width: 767px) {
  .menu {
    display: block;
    padding: 0;
    margin: 0;
    list-style: none;
    background-color: #fff;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu {
    display: flex;
    flex-direction: row;
    height: 80px;
  }
}

@media screen and (max-width: 767px) {
  .menu .poc,
  .nav__list {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-toggle {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .logo {
    display: flex;
    align-items: center;
    height: 60px;
  }
  .menu-toggle {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .logo {
    padding-top: 26px;
    padding-bottom: 26px;
    margin-right: 88px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 767px) {
  .menu-toggle:hover,
  .menu-toggle:focus {
    background-color: #fff;
  }
}

@media screen and (max-width: 767px) {
  .open-menu {
    margin-top: 10px;
    margin-right: 15px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .open-menu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-left: 40px;
    background-color: #fff;
    z-index: 999;
    transition: opacity 250ms $timing-function,
      visibility 250ms $timing-function;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu-container {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .menu-container.is-open {
    transform: translateX(0);
    padding: 0;
  }

  .menu-container .menu-toggle {
    top: 14px;
    right: 14px;
    color: #212121;
  }

  .mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    padding: 48px 40px;
    width: 480px;
    height: 796px;
  }

  .mobile-nav__list {
    margin: 0;
    padding: 0;
    padding-bottom: 306px;
  }

  .mobile-menu .mobile-link-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.02em;

    color: $secondary-text-color;
  }

  .mobile-menu .mobile-link-nav {
    padding: 0;
    margin: 0;
  }

  .mobile-menu .mobile-nav__item {
    margin-bottom: 32px;
  }

  .mobile-nav__item:last-child {
    margin-bottom: 0;
  }

  .mobile-link-nav:hover,
  .mobile-link-nav:focus {
    color: $accent-color;
  }
  .mobile-poc {
    margin: 0;
    padding: 0;
  }

  .mobile-poc__item {
    margin-bottom: 32px;
  }

  .mobile-poc__link-tel {
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $primary-text-color;
    @include transition-animation();
  }

  .mobile-poc__link-mail {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $primary-text-color;
    @include transition-animation();
  }

  .mobile-poc__link-tel:hover,
  .mobile-poc__link-tel:focus {
    color: $accent-color;
  }

  .mobile-poc__link-mail:hover,
  .mobile-poc__link-mail:focus {
    color: $accent-color;
  }

  .menu-toggle:hover,
  .menu-toggle:focus {
    fill: $accent-color;
  }

  .mobile-menu__social-link {
    display: flex;
    flex-direction: row;
    margin: 0;
    margin-top: 64px;
    padding: 0;
  }

  .social-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: $accent-color;
    gap: 10px;
  }

  .bar {
    margin-left: 10px;
    margin-right: 10px;
    color: rgba(33, 33, 33, 0.2);
  }
}

.nav {
  background-color: $header-bg-color;

  @media screen and (max-width: 767px) {
    margin-right: auto;
    margin-left: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    margin-left: auto;
  }

  &__list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    align-items: center;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      display: flex;
      flex-direction: row;
      margin-right: 92px;
    }
  }

  &__item {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.link-nav.current {
  color: $accent-color;
  transform: scale(1);

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: $accent-color;
    transform: scaleX(1);
    transition: transform 250ms $timing-function;

    @media screen and (max-width: 767px) {
      height: 0;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      bottom: -1px;
    }
  }
}

.link-nav {
  display: block;
  padding: 32px 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  color: $secondary-text-color;
  @include transition-animation();

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.poc {
  padding-left: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  margin: 0;
  margin-left: auto;
  align-items: flex-start;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  &__item {
    margin-right: 30px;

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      padding-bottom: 10px;
      margin-right: 0;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .poc__item:last-child {
    padding-bottom: 0;
  }
}

.poc__link {
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: $primary-text-color;
  @include transition-animation();

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.17;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
}

.icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-right: 8px;
  }
}
