.cards-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: $secondary-bg-color;
}

.team-cards-container {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.team-cards {
  margin-top: 0;
  margin-left: 0;

  & h2 {
    margin-top: 0;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: $secondary-text-color;
  }

  &__list {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-left: 0;

    & .team-cards__item {
      margin-right: 30px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__item {
    width: 270px;
    background: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 94px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__text {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.team-cards__text h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 10px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: $secondary-text-color;
}

.team-cards__text p {
  margin: 0;
  padding-bottom: 16px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: $primary-text-color;
}

.team-cards__websites {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-right: 0;
  padding-left: 0;
}

.websites-links {
  @include centered-flex();
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
  fill: #afb1b8;
  cursor: pointer;

  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    fill: #ffffff;
  }
}

.instagram-icon {
  width: 20px;
  height: 20px;
}

.twitter-icon {
  width: 20px;
  height: 20px;
}

.facebook-icon {
  width: 20px;
  height: 20px;
  color: $primary-text-color;
}

.linkedin-icon {
  width: 20px;
  height: 20px;
}
