.filtr {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-filtr {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.portfolio-filtr__item {
  position: relative;
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  height: 404px;
  background-color: #fff;
  border: 1px solid #eeeeee;
  cursor: pointer;
  border-top: 0;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    width: 450px;
    height: 404px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &:hover,
  &:focus {
    opacity: 1;
  }

  @media screen and (min-width: 1200px) {
    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-last-child(-n + 3) {
      margin-bottom: 0;
    }
  }

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-filtr__item {
    width: 354px;
    height: 440px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.image-box {
  display: flex;
  position: relative;
  overflow: hidden;

  @media screen and (max-width: 767px) {
    width: 450px;
    height: 294px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 354px;
    height: 294px;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
    height: 294px;
  }

  &__item {
    display: block;
    max-width: 100%;
    height: auto;
  }
}

.text-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms $timing-function, opacity 250ms $timing-function;
  opacity: 0;

  @media screen and (max-width: 767px) {
    width: 450px;
    padding: 0;
  }

  @media screen and (min-width: 1200px) {
    width: 370px;
    height: 294px;
    top: 0;
    right: 0;
  }

  &__item {
    display: flex;
    position: absolute;
    margin: 0;
    top: 63px;
    right: 24px;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #ffffff;
    width: 322px;
    height: 0;

    @media screen and (max-width: 767px) {
      width: 402px;
      top: 74px;
      right: 16px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199px) {
      right: 5px;
    }

    @media screen and (min-width: 1200px) {
      top: 60px;
      right: 16px;
    }
  }
}

.portfolio-filtr__picture:hover .text-box,
.portfolio-filtr__picture:focus .text-box {
  transform: translateY(0%);
  opacity: 1;
}

.card-bottom {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-bottom: 56px;
  }

  &__header {
    margin: 0;
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $secondary-text-color;
  }

  &__text {
    margin: 0;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: $primary-text-color;
  }
}
